.modal.fade(id="projectNEW" tabindex='-1', role='dialog')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h4.modal-title Форма нового проекта
            .modal-body
                form(id="createProjectForm" action="/newProject" method="POST" enctype="multipart/form-data")
                    .form-group
                        label(for='exampleInputEmail1')
                            h2 Имя проекта
                        input#exampleInputEmail1.form-control(type='text', placeholder='' name="projectName")
                    .form-group
                        label(for='exampleInputEmail2')
                            h2 Описание проекта
                        textarea#exampleInputEmail2.form-control(placeholder='' name="projectDescription")
                    .form-group
                        label(for='exampleInputEmail3')
                            h2 Обложка проекта
                        input(id="exampleInputEmail3" type="file" name="cover" accept="image/*,image/jpeg")
            .modal-footer
                button.btn.btn-warning(type='button', data-dismiss='modal') Закрыть
                button.btn.btn-danger(type='button' onclick="$('#createProjectForm').closest('form').submit();") Создать проект
    script.
        $("#createProjectForm").validate({
            rules: {
                projectName: {
                    required: true,
                    minlength: 2,
                    maxlength: 30
                },
                projectDescription: {
                    required: true,
                    minlength: 2,
                    maxlength: 255
                }
            },
            messages: {
                projectName: {
                    required: "Пожалуйста введите название проекта",
                    minlength: "Минимальная длина названия 2 символа",
                    maxlength: "Максимальная длина названия 30 символов"
                },
                projectDescription: {
                    required: "Пожалуйста введите описание проекта",
                    minlength: "Минимальная длина описания 2 символа",
                    maxlength: "Максимальная длина описания 255 символов"
                }
            }
        })