doctype html
html
  head
    meta(charset='UTF-8')
    title TaskBoard
    script(src='/javascripts/app.js')
    link(rel="stylesheet" type="text/css" href="/stylesheets/prism.css")
    script(src="/javascripts/prism.js")
    script(src="/jquery-ui-1.12.1/jquery-ui.min.js")
    script(src="//cdn.tinymce.com/4/tinymce.min.js")

    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/jquery-ui-1.12.1/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" type="text/css" href="/stylesheets/prism.css")
  body(onunload="")
    block content
