doctype html
html
  head
    meta(charset='UTF-8')
    title панель задач
    script(src='/javascripts/app.js')
    link(rel="stylesheet" type="text/css" href="/stylesheets/prism.css")
    script(src="/javascripts/prism.js")
    script(src="//cdn.tinymce.com/4/tinymce.min.js")

    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/jquery-ui-1.12.1/jquery-ui.min.js')
    link(rel='stylesheet', href='/jquery-ui-1.12.1/jquery-ui.theme.min.css')
  body(onunload="")
    block content
