.container
    .col-lg-4.col-lg-offset-4
        form(action="/change-contacts" method="POST")
            .form-group
                label(for="exampleInputEmail1" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s')
                    h2 Email
                input(type="email" class="form-control wow fadeInRight" id="exampleInputEmail1" placeholder="E-мейл" name="userEmail"  data-wow-offset='0', data-wow-delay='0.2s' disabled value=user.email)
            .form-group
                label(for="userName" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s' required)
                    h2 Телефон
                input(type="text" class="form-control wow fadeInRight" id="userName" placeholder="Телефон" name="userTelephone" data-wow-offset='0', data-wow-delay='0.2s' maxlength=25 minlength=4 value=user.tel)
            .form-group
                label(for="userLastname" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s')
                    h2 Skype
                input(type="text" class="form-control wow fadeInRight" id="userLastname" placeholder="Skype" name="userSkype" data-wow-offset='0', data-wow-delay='0.2s' maxlength=25 minlength=4 value=user.skype)
            .form-group
                button(type="reset" class="btn btn-default") Очистить
                button(type="submit" class="btn btn-default to-save") Сохранить
