.container
    .col-lg-4.col-lg-offset-4
        form(id="form" action="/change-password" method="POST")
            .form-group
                label(for="oldPassword" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s')
                    h2 Текущий пароль
                input(type="password" class="form-control wow fadeInRight" id="oldPassword" placeholder="Password" name="oldPassword"  data-wow-offset='0', data-wow-delay='0.2s' value='')
            .form-group
                label(for="newPassword" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s' required)
                    h2 Новый пароль
                input(type="password" class="form-control wow fadeInRight" id="newPassword" placeholder="Password" name="password" data-wow-offset='0', data-wow-delay='0.2s' maxlength=25 minlength=4)
            .form-group
                label(for="confirmPassword" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s')
                    h2 Повторите пароль
                input(type="password" class="form-control wow fadeInRight" id="confirmPassword" placeholder="Password" name="confirmPassword" data-wow-offset='0', data-wow-delay='0.2s' maxlength=25 minlength=4)
            .form-group
                button(type="reset" class="btn btn-default") Очистить
                button(type="submit" class="btn btn-default to-save") Сохранить
script.
    $("#form").validate({
        rules: {
            password: {
                required: true,
                minlength: 4,
                maxlength: 12
            },
            confirmPassword: {
                required: true,
                minlength: 4,
                maxlength: 12
            }
        },
        messages: {
            password: {
                required: "Пожалуйста введите пароль",
                minlength: "Минимальная длина пароля 4 символа",
                maxlength: "Максимальная длина пароля 12 символов"
            },
            confirmPassword: {
                required: "Пожалуйста введите пароль для подтверждения",
                minlength: "Минимальная длина пароля 4 символа",
                maxlength: "Максимальная длина пароля 12 символов"
            }
        }
    })

    $("#form").on('submit', function (e) {
        $.ajax({
            method: "POST",
            url: "/change-password",
            data: $(this).serialize(),
            processData: false
        })
            .done(function () {
                alertify.success("Пароль изменен!");
                window.location.replace("/profile");
            })
            .fail(function (errInfo) {
                if (errInfo.responseJSON.errInfo[0].msg) {
                    alertify.error(errInfo.responseJSON.errInfo[0].msg);
                }
                else {
                    alertify.error(errInfo.responseJSON.errInfo);
                }
            })
            .always(function () {
            });
        e.preventDefault();

    });