extends layout
block content
    // Created by alexey-home on 30.11.16.
    .container
        .col-lg-4.col-lg-offset-4
            form(action="/registerme" method="POST")
                .form-group
                    label(for="userName" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s' required)
                        h2 Имя
                    input(type="text" class="form-control wow fadeInRight" id="userName" placeholder="Имя" name="userFirstName" data-wow-offset='0', data-wow-delay='0.2s' maxlength=25)
                .form-group
                    label(for="userLastname" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s')
                        h2 Фамилия
                    input(type="text" class="form-control wow fadeInRight" id="userLastname" placeholder="Фамилия" name="userLastName" data-wow-offset='0', data-wow-delay='0.2s' maxlength=25 minlength=2)
                .form-group
                    label(for="exampleInputEmail1" class="wow fadeInRight" data-wow-offset='0', data-wow-delay='0.1s')
                        h2 Email
                    input(type="email" class="form-control wow fadeInRight" id="exampleInputEmail1" placeholder="E-мейл" name="userEmail" data-wow-offset='0', data-wow-delay='0.2s' required)
                .form-group
                    label(class="wow fadeInRight" for="exampleInputPassword1" data-wow-offset='0', data-wow-delay='0.1s')
                        h2 Пароль
                    input(type="password" class="form-control wow fadeInRight" id="exampleInputPassword1" placeholder="Пароль" name="password" data-wow-offset='0', data-wow-delay='0.2s' minlength=4 required)
                .form-group
                    button(type="reset" class="btn btn-default") Очистить
                    button(type="submit" class="btn btn-default") Зарегистрироваться
script.
    $("#search").on('submit', function (search) {
        $.ajax({
            method: "POST",
            url: "/search",
            data: $(this).serialize(),
            processData: false
        })
                .done(function () {
                    alertify.success("Вы успешно зарегестрированы!");

                })
                .fail(function (errInfo) {
                    console.log(errInfo.responseJSON.errInfo);
                    alertify.error(errInfo.responseJSON.errInfo);
                })
                .always(function () {
                });
        form.preventDefault();
    })
    });