extends layout
block content
    form(action="/registerme" method="POST")
        .form-group
            label(for="name") Ваше имя
            input(type="text" class="form-control" id="name" name="username")
        .form-group
            label(for="rEmail") Email address
            input(type="email" class="form-control" id="rEmail" placeholder="Email" name="useremail")

        .form-group
            label(for="rPassword") Password
            input(type="password" class="form-control" id="rPassword" placeholder="Password" name="userpassword")
        button(type="submit" class="btn btn-default") зарегистрироваться
