extends layout
block content
    .slider
        .img-responsive
            ul.bxslider
                li
                    img(src='images/slider/1.jpg', alt='')
                li
                    img(src='images/slider/2.jpg', alt='')
                li
                    img(src='images/slider/3.jpg', alt='')
    .features
        .container
            .text-center
                .wow.bounceInDown(data-wow-offset='0', data-wow-delay='0.3s')
                    h2 Возможности платформы
                .wow.bounceInDown(data-wow-offset='0', data-wow-delay='0.6s')
                    h4.black-text Оптимизирует и ускоряет разработку любого проекта
                .wow.bounceInDown(data-wow-offset='0', data-wow-delay='0.9s')
                    h4.black-text Уменьшает стоимость путем сокращения времени реализации


    .container
        .col-lg-6.wow.fadeInRight(data-wow-offset='0', data-wow-delay='0.5s')
            img.img-responsive(src='images/6.jpg')
        .col-lg-6.wow.fadeInLeft(data-wow-offset='0', data-wow-delay='0.5s')
            img.img-responsive(src='images/5.jpg')
    .main-feature
        .container
            .col-md-4.wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.3s')
                .media
                    .media-left
                        i.fa.fa-rocket.fa-3x
                    .media-body
                        h4.media-heading.black-text Скорость
                        p
                            | Организует вашу деятельность, упрощает расписание дел и позволяет делиться задачами с друзьями.
            .col-md-4.wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.6s')
                .media
                    .media-left
                        i.fa.fa-camera.fa-3x
                    .media-body
                        h4.media-heading.black-text Визуализация
                        p
                            | Помогает визуализировать множественные задачи, позволяет прикрепить файлы к заданию.
            .col-md-4.wow.fadeInUp(data-wow-offset='0', data-wow-delay='0.9s')
                .media
                    .media-left
                        i.fa.fa-heart-o.fa-3x
                    .media-body
                        h4.media-heading.black-text Выбор
                        p
                            | Позволяет выбрать понравившуюся задачу, из всех предложеных, и закрепить её за собой.
        .text-center
            .wow.bounceInDown(data-wow-offset='0', data-wow-delay='0.3s')
                h2 От проектирования до релиза, всего один шаг
            a.btn.in-front(href='/profile') Начните разработку прямо сейчас
