extends layout
block content
    .container
        .row
            .col-md-12.col-sm-12
                .h1.text-center TaskBoard.ua
                .h2.text-center Вход
        .row
            .col-md-4.col-sm-4
            .col-md-4.col-sm-4
                form(action="/login" method="POST")
                    .form-group
                        label(for="Email")
                            |Email address
                        input(type="email" class="form-control" id="Email" placeholder="EMAIL" name="username")

                    .form-group
                        label(for="Password")
                            |Password
                        input(type="password" class="form-control" id="Password" placeholder="PASSWORD" name="password")
                    button(type="submit" class="btn btn-success btn-lg btn-block")
                        i(class="fa fa-check" aria-hidden="true")
                        | &nbsp; Войти
                    h4.text-center
                        small Еще не с нами? &nbsp;
                            a(href="/registerpage") Зарегистрироваться
                                i(class="fa fa-share" aria-hidden="true")

            .col-md-4.col-sm-4


