@media screen and (min-width: 1366px) {
  .custom-class {
    width: 75%;
    /* either % (e.g. 60%) or px (400px) */
  }
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.waiting {
  background-color: #EFD481 !important;
}
.in-work {
  background-color: #E2F7B9 !important;
}
.to-check {
  background-color: #B7F4D9 !important;
}
.closed {
  background-color: #DCEAF4 !important;
}
.taskCard {
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 15px;
  display: inline-block;
}
.taskCard h2 {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.taskCard h3 {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.taskCard h4 {
  font-size: 14px;
  font-weight: bold;
}
.taskCard a {
  font-style: italic;
  color: #00b7ff !important;
}
.drop-hover {
  border: 2px dotted green;
}
.inline {
  display: inline-block !important;
  margin: 15px;
}
.has-error .form-control {
  border-color: #d44937;
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .form-control-feedback,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #d44937;
}
#ava {
  display: none;
}

.foravatar label {
  cursor: pointer;
  width: 300px;
  height: 300px;
}

.foravatar img{
  width: 300px;
  height: 300px;
  border: 2px solid black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.avatar{
  width: 50px;
  height: 50px;
  border: 2px solid #E6E6E6;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img{
  width: 50px;
  height: 50px;
  display: block;
  margin:0 auto;
}
dt, kbd kbd, label {
  font-weight: 400;
}

