tr
    td(width='25%' class="droppable" data-status="waiting")
        div(class="taskCard draggable waiting ui-widget-content" class=task.priority data-id= task._id style="width:100%;")
            a(href="javascript:removeTaskList('" + task._id + "');" class="removeTask")
                button.close(type='button', data-toggle="modal" data-target="#deleteModal")
                    span(aria-hidden='true') ×
            h2 Задача # #{task.number}
                h4 #{task.date}
                .content
                    h5 #{task.description}
            a(href="/task/" + task._id) полное описание задачи
